# Data Science Tools and Ecosystems

## In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are: 
1. r.
2. Julia
3. Python

## Some of the commonly used libraries used by Data Scientists include: 
1. NumPy
2. MatPotLib
3. Scypi

|Data Science Tools|
|---|
|SAS|
|Apache Hadoop|
|Tensor Flow|

## Below are a few examples of evaluating arithmetic expressions in Python.

2*3*4

In [12]:
5*6*2

60

##### Create a code cell to multiply and add numbers

In [16]:
(3*4)+5

17

####  This a simple arithmetic expression to mutiply then add integers

### this will convert 200 minutes to hours by diving by 60

In [17]:
200/60

3.3333333333333335

__Objective__

* R
* Python 
* Julia

# Author : Jose Torres